:root {
    --first-color: #ea8f10;
    --second-color: #37371f;
    --third-color: #90BE6D;
    --four-color: #C9E3AC;
    --five-color: #EAEFBD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_form {
    border: var(--first-color) 2px solid;
    width: 500px;
    margin: 4em auto;
    padding: 0 1em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 6px;
}

.container_form_popup{
    margin: 0;
    border-radius: 0;
}

.title {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 90%;
}

.title_form {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: var(--second-color);
}

.input {
    width: 90%;
}


.option_rol {
    align-self:flex-start;
    margin-left: 1.7em;
}

.btn_container {
    padding-top: 1em;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#submit {
    background-color: var(--four-color);
    color: black;
    padding: 1em 3em;
    border-radius: 50px;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--third-color); 
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#profile > h3 {
    font-size: 1.5rem;
    color: #EFEFD0;
    font-family: sans-serif
}

.profile_container{
    width: 90%;
    margin: 4em auto 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.profile_title{
    font-size: 3rem;
    color: rgb(12, 129, 179);
    text-align: center;
    font-family: sans-serif;
}

.profile_container_child{
    display: flex;
    gap: 4em;
}

.profile_image {
    width: 600px;
    height: auto;
    flex: 1;
}

.profile_img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 1em;
}

.profile_info > h3 {
    font-family: sans-serif;
    text-align: center;  
    color: var(--first-color);
    font-size: 1.5rem; 
}

.profile_info > h3 > span {
    color: var(--second-color);
    font-size: 1.5rem;
}
