* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-thumb {
    background-color: #0762cac6;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.list_container {
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
    border: var(--first-color) 2px solid;
    border-radius: 12px;
    overflow: hidden;
}

.graphic_container {
    width: 90%;
    margin: 4em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}



